Cython==0.17.2
PIL==1.1.7
PyYAML==3.10
certifi==0.0.8
greenlet==0.4.0
iso8601==0.1.4
numpy==1.6.2
requests==0.14.2
setproctitle==1.1.6
wsgiref==0.1.2
git+git://github.com/SiteSupport/gevent.git@1.0rc1#egg=gevent
hg+http://bitbucket.org/pygame/pygame
git+git://github.com/kivy/kivy.git
